* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;

  background: #6cbcc1;
}

.ellipsis {
  width: 40%;
  margin: 0 auto;

  text-align: center;
  display: flex;
  justify-content: space-evenly;

  margin-top: 100px;
}

.dot {
  display: inline-block;
  position: relative;

  width: 15px;
  height: 15px;
  border-radius: 50%;

  background-color: #fff;
}

.loading-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;

  gap: 15px;
  margin-top: 200px;
}

.loading-bar__bar {
  width: 20px;
  height: 80px;

  background-color: #fff;
}
